.card{
    display: inline-block;
    width: 31%;
    height: 31%;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.img-fluid{
    display: inline;
    border-radius: 10px;
    max-width: 49.85%; 
    height: 30%;
    border-radius: 10px; 
    width: 49.85%;
    padding-top: 10px;
}
.d-inline-block{
    height: 5%;
    width: 5%;
}
.icon-link{
    padding: 10px;
}
.card-img-top{
    height: 300;
    
}
.price:hover{
    font-size: 24px;
}